.App {
  text-align: center;
}

.container {
  /* margin: 20px auto; */
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#example-scanning-overlay.hidden {
  display: none;
}
