.App {
  text-align: center;
}

.container {
  /* margin: 20px auto; */
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#example-scanning-overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
#example-scanning-overlay.hidden {
  display: none;
}
.buttonContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5%;
}

a{
  z-index: 99;
}
